<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;" class="col-md-2 pl-0">
    <app-navigation-bar></app-navigation-bar>
  </div>

  <div class="col-md-9 m-auto  justify-content-center align-items-center row" style="height: 95vh;">
    <div class="col-md-12 text-center border p-5" style="color: rebeccapurple; border-radius: 3rem; letter-spacing: 2px;">
      <h1 style="font-family: 'Monotype Corsiva'; font-size: 80px;">Welcome to our <strong>Love&Food</strong> website!</h1>
      <h2 class="blockquote mt-5" style="font-family: 'Monotype Corsiva'; font-size: 50px"><i>Let's find you a soulmate!</i></h2>
    </div>
    <div class="col-md-12 text-center">
      <button mat-raised-button color="primary" style="letter-spacing: 2px; border-radius: 2rem; height: 50px ;width: 400px; background-color: rebeccapurple;">
        FIND YOUR SOULMATE
      </button>
    </div>
  </div>
</div>
