<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;" class="col-md-2 pl-0">
    <app-navigation-bar></app-navigation-bar>
  </div>

  <div class="col-md-9 mt-0 ml-auto mr-auto justify-content-center align-items-center row" style="height: 95vh;">
    <div class="col-md-12 text-center border p-0" style="color: rebeccapurple; border-radius: 3rem; letter-spacing: 2px;">
      <div style="background-color: rgb(163,155,225); border-radius: 3rem;">
        <img class="w-100" alt="Heart" src="https://pd1eu.badoocdn.com/i/v2/-/-/i/hotornot_v2/homepage/header.5b3323a59a6a3b3cb355.svg">
      </div>
      <h1 style="font-size: xxx-large; font-weight: lighter" class="mt-5">Welcome to our
        <strong style="font-family: 'Monotype Corsiva',serif; color: mediumpurple">Love</strong>
        <strong style="font-family: 'Monotype Corsiva',serif;"> & </strong>
        <strong style="font-family: 'Monotype Corsiva',serif; color: orange">Food</strong> website!
      </h1>
      <h2 class="blockquote mt-5 mb-5 pb-5" style="font-weight: normal; font-size: xx-large">Let's find you a soulmate!</h2>
      <div class="col-md-12 text-center mb-5">
        <button class="text-white" mat-raised-button style="letter-spacing: 2px; border-radius: 2rem; height: 50px ;width: 400px; background-color: #6c38dc;">
          FIND YOUR SOULMATE
        </button>
      </div>
    </div>

  </div>
</div>
