.back {
    background-image: url("src/assets/img/try-opacity.png");
  }
  
  .jumbotron-border {
    border-radius: 2rem;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
  }
  
  ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
  }
  