<div class="row p-5 justify-content-center align-items-center" style="border-top: 5px solid orange; border-bottom: 5px solid orange;">
  <h3 *ngIf="!hasGraded" class="col-md-12 pb-3 text-center" style="color: orange;">Let's rate {{restaurant.name}}!</h3>
  <h3 *ngIf="hasGraded" class="col-md-12 pb-3 text-center" style="color: orange;">You have already graded {{restaurant.name}}!</h3>
  <div class="col-md-12 row">
    <h5 class="col-md-3 mr-5 row justify-content-center align-items-center text-muted">Ambient</h5>
    <div class="col-md-6 ml-5 pt-3">
      <ul class="list-inline rating-list" [ngClass]="{'rating-list-clickable': !hasGraded}" *ngFor="let star of stars" >
        <li (click)="!hasGraded ? countStar(star, 'AMBIENT') : null" [ngClass]="{'selected': (star <= ambient)}">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row">
    <h5 class="col-md-3 mr-5 row justify-content-center align-items-center text-muted">Atmosphere</h5>
    <div class="col-md-6 ml-5 pt-3">
      <ul class="list-inline rating-list" [ngClass]="{'rating-list-clickable': !hasGraded}" *ngFor="let star of stars" >
        <li (click)="!hasGraded ? countStar(star, 'ATMOSPHERE') : null" [ngClass]="{'selected': (star <= atmosphere)}">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row">
    <h5 class="col-md-3 mr-5 row justify-content-center align-items-center text-muted">Service</h5>
    <div class="col-md-6 ml-5 pt-3">
      <ul class="list-inline rating-list" [ngClass]="{'rating-list-clickable': !hasGraded}" *ngFor="let star of stars" >
        <li (click)="!hasGraded ? countStar(star, 'SERVICE') : null" [ngClass]="{'selected': (star <= service)}">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row">
    <h5 class="col-md-3 mr-5 row justify-content-center align-items-center text-muted">Location</h5>
    <div class="col-md-6 ml-5 pt-3">
      <ul class="list-inline rating-list" [ngClass]="{'rating-list-clickable': !hasGraded}" *ngFor="let star of stars" >
        <li (click)="!hasGraded ? countStar(star, 'LOCATION') : null" [ngClass]="{'selected': (star <= location)}">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row">
    <h5 class="col-md-3 mr-5 row justify-content-center align-items-center text-muted">Hospitability</h5>
    <div class="col-md-6 ml-5 pt-3">
      <ul class="list-inline rating-list" [ngClass]="{'rating-list-clickable': !hasGraded}" *ngFor="let star of stars" >
        <li (click)="!hasGraded ? countStar(star, 'HOSPITABILITY') : null" [ngClass]="{'selected': (star <= hospitability)}">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row">
    <h5 class="col-md-3 mr-5 row justify-content-center align-items-center text-muted">Overall</h5>
    <div class="col-md-6 ml-5 pt-3">
      <ul class="list-inline rating-list" [ngClass]="{'rating-list-clickable': !hasGraded}" *ngFor="let star of stars" >
        <li (click)="!hasGraded ? countStar(star, 'OVERALL') : null" [ngClass]="{'selected': (star <= overall)}">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    <button mat-raised-button class="btn-block rate-button" [disabled]="hasGraded" (click)="rateRestaurant()">
      Rate {{restaurant.name}}
    </button>
  </div>
</div>
