<mat-card class="float-left w-100 rounded">
  <mat-card-title class="item-font text-right">{{datePlace.restaurant.name}}</mat-card-title>
  <mat-card-subtitle>{{datePlace.restaurant.location | titlecase}}</mat-card-subtitle>
  <mat-card-subtitle>{{datePlace.date.replace('-', '.')}}</mat-card-subtitle>
  <mat-card-subtitle>Initiator: <em class="font-weight-bolder">{{datePlace.initiator}}</em></mat-card-subtitle>
  <mat-card-subtitle>
    <p class="w-50 float-left">
      Soulmate: <em class="font-weight-bolder">{{datePlace.soulmate}}</em>
    </p>
    <button class="float-right text-white" style="background-color: orange;" mat-raised-button>
      <mat-icon class="mr-2">star</mat-icon>
      Rate {{datePlace.restaurant.name}}
    </button>
  </mat-card-subtitle>
</mat-card>
