<div class="wrapper d-flex align-items-stretch back">
  <div style="height: 100vh;" class="col-md-2 pl-0">
    <app-navigation-bar [mode]="'LOVE'"></app-navigation-bar>
  </div>
  <div class="col-md-9 mt-0 ml-auto mr-auto row panel">
    <div class="col-md-12 mt-5">
      <div class="col-md-10 ml-auto mr-auto mt-2 mb-1 pb-0 float-right text-right">
        <div class="text-right">
            <form [formGroup]="filterForm" (ngSubmit)="filterAlarms(0)">
                    <div class="form-group">
                        <mat-form-field appearance="standard" class="col-md-3 mr-4">
                            <mat-label>Select Alarm Type</mat-label>
                            <mat-select formControlName="alarmType">
                                <mat-option value=""></mat-option>
                                <mat-option value="FAILED_LOGIN">Failed login</mat-option>
                                <mat-option value="BAD_RATING_USER_ALARM">Bad user rating alarm</mat-option>
                                <mat-option value="GOOD_RATING_USER_ALARM">Good user rating alarm</mat-option>
                                <mat-option value="RESTAURANT_ALARM">Restaurant alarm</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button type="submit" class="text-white" style="background-color: purple;">Filter</button>
                    </div>
              </form>
          </div>
      </div>
      <table mat-table [dataSource]="alarms.content"  class="shadow">
        <!-- No data row -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="4">No alarms.</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-design"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="text-white"> Alarm ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="alarmType">
            <th mat-header-cell *matHeaderCellDef  class="text-white"> Alarm type </th>
            <td mat-cell *matCellDef="let row"> {{row.alarmType}}</td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef  class="text-white"> Message </th>
            <td mat-cell *matCellDef="let row" style="width: 30%;">{{row.message}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef  class="text-white"> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date:'medium'}} </td>
        </ng-container>
      </table>
    </div>
  </div>
  <div class="mb-0" style="position: absolute; bottom: 0; right: 0;">
    <mat-paginator
        showFirstLastButtons
        [length]="alarms.totalElements"
        [pageSize]="alarms.size"
        (page)="pageEvent = $event; onPaginateChange($event)">
    </mat-paginator>
  </div>
</div>
