<div class="col-md-12 text-center border p-0 user-panel">
  <div class="image-container">
    <img class="w-100" alt="Heart" src="https://pd1eu.badoocdn.com/i/v2/-/-/i/hotornot_v2/homepage/header.5b3323a59a6a3b3cb355.svg">
  </div>
  <h1 style="font-size: xxx-large; font-weight: lighter" class="mt-5">
    Welcome to our
    <strong class="font-cursive" style="color: mediumpurple">Love</strong>
    <strong class="font-cursive"> & </strong>
    <strong class="font-cursive" style="color: orange">Food</strong>
    website!
  </h1>
  <h2 class="blockquote mt-5 mb-5 pb-5" style="font-weight: normal; font-size: xx-large">Let's find you a soulmate!</h2>
  <div class="col-md-12 text-center mb-5">
    <button class="text-white find-soulmate-button" mat-raised-button>
      FIND YOUR SOULMATE
    </button>
  </div>
</div>
