<nav id="sidebar" class="h-100" [ngClass]="{'sidebar-color-love': mode === 'LOVE', 'sidebar-color-food': mode === 'FOOD'}">
  <div class="p-4">
    <img *ngIf="mode === 'LOVE'" src="../../../../assets/img/heart.png" class="logo ml-4 pt-2  mb-5" alt="Love&Food" style="width: 150px; height: 140px;">
    <img *ngIf="mode === 'FOOD'" src="../../../../assets/img/restaurant.png" class="logo ml-4 pt-2  mb-5" alt="Love&Food" style="width: 150px; height: 140px;">

    <ul class="list-unstyled components mb-5">
      <li *ngIf="role === 'ROLE_USER'">
        <mat-icon class="float-left mt-2">favorite</mat-icon>
        <a routerLink="/home"><span class="fa fa-heart mr-3"></span> Soulmate</a>
      </li>
      <li *ngIf="role === 'ROLE_USER'">
        <a routerLink="/home/rate-date"><span class="fa fa-heart mr-5"></span> Rate The Date</a>
      </li>
      <li *ngIf="role === 'ROLE_ADMIN'">
        <mat-icon class="float-left mt-2">supervisor_account</mat-icon>
        <a routerLink="/admin/view-users"><span class="fa fa-heart mr-3"></span> Users</a>
      </li>
      <li *ngIf="role === 'ROLE_ADMIN'">
        <mat-icon class="float-left mt-2">favorite</mat-icon>
        <a routerLink="/admin/view-all-matches"><span class="fa fa-heart mr-3"></span> Matches</a>
      </li>
      <li>
        <mat-icon class="float-left mt-2">fastfood</mat-icon>
        <a routerLink="/restaurant"><span class="fa fa-user mr-3"></span> Restaurant</a>
      </li>
      <li *ngIf="role === 'ROLE_ADMIN'">
        <a routerLink="/restaurant/add-restaurant"><span class="fa fa-briefcase mr-5"></span> Add Restaurant</a>
      </li>
      <li *ngIf="role === 'ROLE_USER' && hasMatch">
        <a routerLink="/restaurant/rate-restaurant"><span class="fa fa-briefcase mr-5"></span> Rate Restaurant</a>
      </li>
      <li *ngIf="role === 'ROLE_ADMIN'">
        <mat-icon class="float-left mt-2">trending_up</mat-icon>
        <a><span class="fa fa-user mr-3"></span> Reports</a>
      </li>
      <li *ngIf="role === 'ROLE_ADMIN'">
        <a routerLink="/restaurant/reports"><span class="fa fa-briefcase mr-5"></span> Restaurant Reports</a>
      </li>
      <li *ngIf="role === 'ROLE_ADMIN'">
        <a routerLink="/admin/user-reports"><span class="fa fa-briefcase mr-5"></span> User Reports</a>
      </li>
      <li class="mt-5" (click)="logout()" style="cursor:pointer;">
        <mat-icon class="float-left mt-2">close</mat-icon>
        <a ><span class="fa fa-sticky-note mr-3 mt-5"></span> Sign out</a>
      </li>
    </ul>
  </div>
</nav>
