.dialog-back {
    background-image: url('src/assets/img/try-opacity.png');
    /*overflow-y: hidden;*/
    height: 100%;
    max-height: none !important;
    /*border-radius: 4rem;*/
  }

.dialog-text {
  background-color: rgba(143, 116, 194, 0.7);
  border-radius: 1rem;
}

mat-dialog-container {
  padding: 0px!important;
}

.soulmate-desc {
  font-size: larger;
}

.text-love {
  color: rgb(143, 116, 194);
}
