/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.orange-snackbar {
  background-color: orangered;
  color: white;
}

.orange-snackbar button {
  background-color: white;
  color: orangered;
}

.purple-snackbar {
  background-color: purple;
  color: white;
}

.purple-snackbar button {
  background-color: white;
  color: purple;
}

.custom-dialog-container .mat-dialog-container{
  padding: 0px;
  overflow-x: hidden;
}

.mat-table{    
  border-radius: 1rem !important;
  overflow:hidden !important;
}
