<div class="wrapper d-flex align-items-stretch">
  <div style="height: 100vh;">
    <app-navigation-bar [mode]="'FOOD'"></app-navigation-bar>
  </div>
  <div class="jumbotron col-md-10 ml-auto mr-auto mt-3 bg-white row float-left">
    <app-restaurant-data class="col-md-6" *ngFor="let r of restaurants" [restaurant]="r"></app-restaurant-data>
  </div>
  <div class="mb-0" style="position: absolute; bottom: 0; right: 0;">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageIndex]="pageIndex">
    </mat-paginator>
  </div>

</div>
