.find-restaurant-button {
  letter-spacing: 2px;
  border-radius: 2rem;
  height: 50px ;
  width: 300px;
  background-color: orange;
}

.back {
  background-image: url("src/assets/img/back-opacity.png");
}
