<mat-card class="float-left w-100 rounded mt-3 mb-3 shadow" style="background-color: rgb(143, 116, 194, 0.1);">
    <mat-card-title class="item-font text-right text-love">{{match.soulmateName}}</mat-card-title>
    <mat-card-subtitle>Email: {{match.soulmateEmail}}</mat-card-subtitle>
    <mat-card-subtitle>Match date: {{match.matchDate | date}}</mat-card-subtitle>
    <mat-card-subtitle>
      <button class="float-right text-white" style="background-color: rgb(143, 116, 194);" (click)="rateTheDate(match)" mat-raised-button>
        <mat-icon class="mr-2">star</mat-icon>
        Rate your date
      </button>
    </mat-card-subtitle>
  </mat-card>