.background {
  height: 100vh;
  background-image: url("src/assets/img/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-form {
  opacity: 0.8;
  border-radius: 4rem;
}
