.back {
  background-image: url("src/assets/img/back-opacity.png");
}

.jumbotron-border {
  border-bottom: 3px solid orange;
  border-top: 3px solid orange;
}

.food-icon {
  height: 30px;
  width: 30px;
}
